* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.aboutHeader {
  margin: 0 auto;

  background-color: rgb(245, 188, 196);
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
}
.aboutMain {
  width: 80%;
  background-color: #f7dfdf;
  height: 90%;
  margin: 0px auto;
}
.moreDetails {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  width: 50%;
  height: 90%;
  margin: 0 auto;
}
.date,
.age {
  margin: 0 auto;
  width: 50%;
  margin-top: 1rem;
  height: 1.7rem;
}
.finalSubmit {
  width: 15%;
  margin-top: 1em;
  height: 2rem;
  border-radius: 10%;
  background-color: #90cbdd;
  border: none;
  margin: 1rem auto;
}
.hobbies {
  height: 3rem;
  margin-top: 1rem;
}
.relationship {
  margin-top: 1rem;
}
.finalResult {
  border: 1px solid red;
  height: fit-content;
  text-align: center;
}
